## Simulation and Modeling Techniques - Discussion Week 3

### Christian Thieme

### 6/15/2020

### 1. In simulation, what is verification?  What is validation?  How do they differ?  What was done in the assigned simulation journal reading to conduct V&V?

* Verification is the process that the developer must go through to make sure that her/his model is working as they built it to work. For example, if the model takes an input and squares it, does the output of the model actually return a squared value? If so, we would say the model has been verified. Verification does not compare the model to the "real-world" process. It's really a process of crossing the t's and dotting the i's to ensure your model is working as you intend.


* Validation is the process we are more familiar with. Validation is ensuring that the model that has been built actually represents the real-world scenario being modeled. The modeler needs to ensure that they've accurately captured and implemented the process they are simulating, which involves heavy reliance upon data from the real-world process.


* In the assigned reading this week, found [here](https://journals.sagepub.com/doi/abs/10.1177/1548512910364390), the authors didn't directly discuss how they _verified_ their work. However, based on the flow of the article and the methodologies chosen to implement, we can say that a great deal of verification had to take place in order to build the model discussed. Additionally, toward the end of the article the authors include a graphical representation of the results of the optimized model, which would also be another way to validate that the model is working as they intended. Validation of the model is evident throughout the article. An entire page of the article is dedicated to describing previous, validated work that had been completed in other studies that was leveraged to build the current model. Additionally, the authors discuss the use of data from Operation Iraqi Freedom as a base for their model allowing them to scrutinize thier optimized model against real-world data. As their ultimate goal was to create an "optimization" model, there were several unknowns in their model that needed to be solved for. As part of their validation process, they set constraints on the values that these unknowns could take to limit them to what could actually happen in a real-world scenario.

### 2. Share some code from last week that was particularly rewarding or frustrating.  We will comment on it.

Really quite simple, but one of the code segments I found rewarding this last week was the built in function in Pandas to scrape all html tables within a web page. Last year before I started the program, I was doing some personal [research](https://github.com/christianthieme/idaho-real-estate-research-api-web-scraping/blob/master/Real%20Estate%20Research.ipynb) on real-estate in Idaho  and was using BeautifulSoupl to scrape some tables from a website and my code could have been significantly simplified by using a code block like the one below from this week's material. Happy to have added another tool to the toolbox, and especially one that is so simple for a fairly common task.

In [2]:
from pandas import read_html

filename = 'https://en.wikipedia.org/wiki/World_population_estimates'
tables = read_html(filename, header=0, index_col=0, decimal='M')
table2 = tables[2]
table2.head()

      United States Census Bureau (2017)[29]  ...  Clark (1967)[24]
Year                                          ...
1950                              2557628654  ...      2.486000e+09
1951                              2594939877  ...               NaN
1952                              2636772306  ...               NaN
1953                              2682053389  ...               NaN
1954                              2730228104  ...               NaN

[5 rows x 11 columns]